[2017-03-11 09:43] pcav opened #1 "Please check if duplicate"
There are other plugins that do similar things. Could you please check and see if there is an opportunity to merge, preferably as Processing subplugins?
I'm sorry to bother, but we are trying hard to reduce redundancy and confusion for the users, and to promote cooperation among plugin developers.
I'm ready to help, just let me know if I can do something.

[2017-03-11 13:38] hamiltoncj commented on #1
I would not have written this if there was anything closely related. There are several ellipse generation but they are for either interactively working with them or are very basic in design. Some of them have not had their code updated for a number of years. They may be dead projects and I know some of them could use some help. The Create Shapes is all about the layer data and bulk generating from

[2017-03-13 08:24] pcav commented on #1
OK, thanks.

[2017-03-16 20:09] #1 closed, assigned to nobody

[2017-06-22 00:56] frap129 opened #2 "Stop illegally spying on hundreds of millions of people world wide"

[2017-06-22 07:07] ctubbsii commented on #2
Closed as spam.

[2017-06-22 07:07] #2 closed, assigned to nobody

[2017-08-23 17:56] hamiltoncj opened #3 "Add Line to Geodesic Line Conversion"
Take an existing line layer and add geodesic line segments between vertices of the exising line, but only if it meets certain distance constraints. Include an option to only use the beginning and ending points and discard internal points.

[2017-08-23 18:31] hamiltoncj opened #4 "Add Pie Arc Shape"
Parameters:
   Starting Azimuth
   Ending Azimuth
   Inner Radius
   Outer Radius

[2017-09-15 19:26] hamiltoncj commented on #3
Completed.

[2017-09-15 19:26] #3 closed, assigned to nobody

[2017-09-15 19:56] hamiltoncj opened #5 "Add polygon to geodesic polygon"

[2017-09-26 20:01] hamiltoncj commented on #5
Completed

[2017-09-26 20:01] #5 closed, assigned to hamiltoncj

[2017-09-27 05:54] pcav opened #6 "Please consider moving part of this under Processing"
You'll save coding the interface, and the user will be able to integrate this into more complex workflows, having iterations, and much more.
Ask @volaya for howto, or have a look to other Processing plugins.

[2018-02-02 00:54] ghost opened #8 "multiPart detection isn't working"
I was doing some work to improve [my QGIS Plugin](https://github.com/GeoscienceAustralia/GeodesicDensifier), based on this excellent plugin.

I noticed that the method you use to detect whether a layer is a polygon or multipolygon doesn't work.

Here is a test multipolygon that doesn't work: [testMultiPoly.zip](https://github.com/NationalSecurityAgency/qgis-shapetools-plugin/files/1687714/testMult

[2018-02-02 01:08] ghost commented on #8
Here is a polylineZ test shapefile if you want to mess around with the issue: [testPolylineZ.zip](https://github.com/NationalSecurityAgency/qgis-shapetools-plugin/files/1687749/testPolylineZ.zip).

[2018-02-02 14:59] hamiltoncj commented on #8
John,

Thanks so much for letting know about this. I will start working on a fix.

BTW I still think that our projects are similar enough that we should consider merging efforts.

[2018-02-02 15:59] hamiltoncj commented on #8
Jonah,

Sorry I called you John. I just put out a new release that addresses the first issue. I am now doing the multipart/singlepart check on the feature level. It works on my features and the one you sent me. Please check to make sure it works properly.

I will look at the polylineZ to see if I can figure out what to do with it or ask the developers what to do.

Thanks!!!

[2018-02-02 16:35] hamiltoncj commented on #8
Jonah,

The polylineZ will be doable, but not today. layer.wkbType() returning -2147483646 is actually proper, but I will need to treat these as a separate case as there are a complete set of additional routines that need to be called to work with them. I will see what I can do next week.

[2018-02-05 23:29] ghost commented on #8
I used the new version of the plugin from the QGIS Plugin Repository and it worked like a charm.

[2018-02-05 23:29] #8 closed, assigned to nobody

[2018-02-13 20:23] hamiltoncj commented on #6
One piece was moved, but will wait for conversion to QGIS 3 and when the API gets more stable to complete the rest.

[2018-02-13 20:23] #6 closed, assigned to nobody

[2018-04-13 12:27] uppalavamsi opened #9 "Telecom Site Sector creation"
Telecom site plan and optimization using QGIS

Request to please prioritize the layer order by size of shape in Pie Wedge (least size should be overlay onto its next size such that all layers are visible) when we sketch the vector using same point and size is different of each layer. Such that all layers are visible without submerge.
[Telecom.zip](https://github.com/NationalSecurityAgency/qgis-sha

[2018-04-14 14:42] uppalavamsi opened #10 "Dynamic shape size"
Could there be a possibility of having shape sized to their relative density to the objects around, such that visibility is good. Such that shapes would not overlay but have better visibility when zoomed out.

![image](https://user-images.githubusercontent.com/38352200/38769544-5ad1abae-4022-11e8-915c-2cb65f73b2d7.png)

[2018-04-14 14:46] uppalavamsi opened #11 "Shape resize to magnitude from selected objects in an area"
It would be good to have the option to magnify selected shape objects on-the-go, to have flexibility visualization at different zoom levels.

[2018-04-14 15:01] uppalavamsi commented on #10
Got this going with small tweak, by just re-arranging data in descending order

![image](https://user-images.githubusercontent.com/38352200/38769574-c37365a8-4022-11e8-8fa7-d9778780ba47.png)

However it could be better to give users on-the-go option to do it so from tool level.

[2018-04-15 04:38] uppalavamsi opened #12 "Extremely long processing time"
Tool is taking extremely longer duration to create desired output. It is takings minutes to generate shapes of ~25,000.

However it is a matter of few seconds(<5 sec) to create about 250,000 "Pie Wedges" when we use some other Python script, but it has limitation to create multi sized shape in one go.

Please have this process time check and optimize to have better tool usability.

[2018-04-16 13:09] hamiltoncj commented on #12
@uppalavamsi Thank you for taking the time to offer all these suggestions. This is what helps drive the development of tools and I find such suggestions very useful.

ShapeTools is using geodesic math for all its calculations and I am using a python library for it. This may be part of the slowness, but I will investigate to see if there are speed improvements that I can implement.

Thanks once aga

[2018-04-16 15:33] hamiltoncj commented on #9
@uppalavamsi I believe the proper way to do this is not in the plugin, but with styling. The order that you want may be different from what someone else would want and there may be other calculations used that another person would want to use to affect rendering order. I think it would be difficult to guess all the possible ways users would want to do this, but QGIS already has the mechanisms in p

[2018-04-16 15:38] hamiltoncj commented on #10
@uppalavamsi One thing I never thought about is the possibility to have the shapes as a style. Then it could be more dynamic. I don't know if this is a possibility, but I will check into it.

[2018-04-16 15:41] hamiltoncj commented on #12
@uppalavamsi Do you have an example of a tool that is fast? I am guessing that most tools are not doing geodesic calculations which takes more time, but I'm sure there are some optimizations that I can do.

Thanks

[2018-04-16 18:14] uppalavamsi commented on #9
Hi Hamilton,

Thanks so much for let us know the detailed approach on rendering process,
i feel i could have done more self study on tool before writing it.

But thanks very for you time and letting us know the process step by step.

With regards,
Vamsi
+91 98 664 68185

On Mon, 16 Apr 2018, 21:04 C Hamilton, <notifications@github.com> wrote:

[2018-04-16 18:24] uppalavamsi commented on #10
Hi Hamilton,

Of late was was reading about this feature coming in QGIS 3. Yet to explore
the details. Would check some online material and identify the features.

It is like when we zoom out per se Google map major city name keep visible
at all zoom levels to the ease of user readability.

This function would help Telecom engineer to optimize site with KPIs in
comparison with its neighbours. This

[2018-04-16 18:45] uppalavamsi commented on #12
Hi Hamilton,

First we have to say thanks a million that you made this tool, which by its
name we could not able to find on libraries for so long. This would be for
sure help Telecom industry a lot for betterment, taking the capability and
flexibility of Tool.

Thanks for very open approach of receiving inputs, Ive put this to the tool
which of non distribution has made ~30 k sites of 108 k cells

[2018-05-04 18:08] #9 closed, assigned to nobody

[2018-05-11 02:39] gisresolute opened #13 "Azimuth/Distance fields not pickable in QGIS3"
![image](https://user-images.githubusercontent.com/39177877/39903774-6f0845c0-5507-11e8-89c5-2060004a50da.png)
I cant pick the distance and azimuth fields in QGIS3 but can in QGIS2

[2018-05-11 12:54] hamiltoncj commented on #13
@gisresolute Can you provide some more information? I just tested it on my machine and I don't have any issues. Do you have a point or line layer selected and is it enabled for editing? Are you on Windows or Linux? Are you using the latest QGIS 3.0.2?

[2018-05-14 00:49] gisresolute commented on #13
HI,

Thanks for your swift reply,

Yes  I have a point layer enabled for editing, running on Windows 10, using QGIS 3.0.2, im pulling a view from MSSQL, I think it might be do with that.

If I save that layer as a SHP file it works fine but reading from the MSSQL I get this python error:

2018-05-14T07:50:01 WARNING Traceback (most recent call last):
File "C:/Users/cfranklin/AppData/Roaming/QGIS/Q

[2018-05-14 12:14] hamiltoncj commented on #13
@gisresolute I am at FOSS4G NA this week and am not going to have much time to take a look at the issue, but I have been following the QGIS developers groupt. A few days ago there was a person who had a similar issue with MSSQL and QGIS 3. I'm thinking there may be a problem with the MSSQL driver and will probably be fixed in the next release, but I should probably report what you found to the QGI

[2018-05-18 09:19] idmurp opened #14 "CRS Selection"
I have a number of users hitting issues sometimes with the CRS detailing to 4326, we don't use otf as standard as it confuses people.  Is it possible to include a crs selection in future versions?

Brilliant tool though!

[2018-05-23 17:24] hamiltoncj commented on #14
@idmurp Thank you for your suggestion. I have actually been thinking about doing this as well. Look for it in the next release.

[2018-05-23 21:15] SimonDedman opened #15 "XY to line: layers present but lines missing upon re-open"
Added delimited text points layer and created line using XY to line successfully. Saved project, closed, reopened (next day) and layers still present but lines missing. Please see (boring) attachments.
![npc streamline minmaxav](https://user-images.githubusercontent.com/4599748/40451411-626d86fa-5e93-11e8-8283-effd8068b50d.png)
![shape plugin bug](https://user-images.githubusercontent.com/4599748/

[2018-05-23 21:23] SimonDedman opened #16 "XY to Line: feat.req: interpret 1 lat & 1 lon col as start/stop"
Notwithstanding I see the logic of having the users specify start & stop lat/lons as separate columns for cases of multiple A-to-B lines, it would be nice if the code could give the users the option to use only a single lat & lon and have this interpreted as a continuous line, defaulting to the order set in the layer unless another field is specified. For lat & lon columns of length N this would b

[2018-05-24 13:14] hamiltoncj commented on #15
@SimonDedman  Shape Tools uses memory layers which are not saved by default. You need to save them or install the Memory Layer Saver plugin. Perhaps I should make that more clear in the documentation.

http://plugins.qgis.org/plugins/MemoryLayerSaver/

Eventually, I plan on moving these functions to processing in which case it will give more options on how to save them.

[2018-05-24 13:31] hamiltoncj commented on #16
@SimonDedman Let me see if I understand the question. I believe that you are asking for the capability to create a single line from a table that has multiple points and basically join all the points together by a line. Each row in the table would be another point in the line. There may already be a plugin for this. Is this what you are asking for?

http://plugins.qgis.org/plugins/pointstopaths_v02

[2018-05-24 19:48] SimonDedman commented on #16
It seems to be, yes. Thanks!

[2018-05-24 19:49] SimonDedman commented on #15
Hi again, for sure would be good to let users know; I didn't even know about memory layers until now!

[2018-05-24 19:49] #15 closed, assigned to nobody

[2018-05-24 21:15] hamiltoncj commented on #14
@idmurp I just updated the QGIS 3.0 version and added CRS selection to the "Create Shapes" function. It is now in the QGIS plugin repo although it may take a few minutes for the repo to report that it is there. Do you need the capability for QGIS 2.x as well?

[2018-05-24 21:50] idmurp commented on #14
Hi

I can advise the users needing this to upgrade to use QGIS 3 for this
particular function.  Thanks very much

Ian

On 24 May 2018 10:15 pm, "C Hamilton" <notifications@github.com> wrote:

@idmurp <https://github.com/idmurp> I just updated the QGIS 3.0 version and
added CRS selection to the "Create Shapes" function. It is now in the QGIS
plugin repo although it may take a few minutes for the re

[2018-05-24 23:02] SimonDedman commented on #16
Spoke too soon: that plugin is incompatible with QGIS v3 so if you do happen to be minded to tack on this functionality, I believe it would be welcomed. Cheers!

[2018-05-25 13:08] hamiltoncj commented on #16
I did some more searching and QGIS 3 in the Processing Toolbox, under "Vector creation" has a function called "Points to path". I think that will do what you need.

[2018-05-25 19:51] SimonDedman commented on #16
It does indeed. Thanks for sleuthing this out. Seems the timeline of qgis versions & their orphaned compatible plugins means internet searching can turn up a load of defunct hits, while functionality being recently boiled into the core program can be under-documented. Have a cracking weekend.

[2018-05-25 19:51] #16 closed, assigned to nobody

[2018-05-30 19:53] hamiltoncj commented on #14
@idmurp I have added CRS selection to the "Create Shapes" function for the QGIS 2 plugin (0.7.8).

[2018-05-30 20:23] hamiltoncj commented on #13
@gisresolute I wish I had an answer for you. I have taken a look at the code and do not see where there could be a problem. I can't replicate it primarily because I don't have an MSSQL database. I have seen some issues with MSSQL in the qgis-developer's group so I am thinking it is a problem with QGIS 3 and MSSQL. If there is any way you can create a small data set that replicates the problem so t

[2018-05-31 19:18] #14 closed, assigned to nobody

[2018-06-11 14:00] #13 closed, assigned to nobody

[2018-06-13 20:06] hamiltoncj commented on #12
@uppalavamsi I have made a slight change with the Shape Tools pie shape. You can now specify the number of degrees before another point is added in the arc of the pie. Originally, I set that to 4. I now have it set by default to 6, but you can enter another number. The larger the number the faster it will be, but the quality of the arc will go down.

The geodesic calculations takes time. If the ma

[2018-06-13 20:24] hamiltoncj commented on #11
Since Shape Tools creates actual physical polygons, there is no way to have them dynamically resize on the fly. The only way I could think of doing this would be within a style. I don't know if it is possible or not. Right now my focus is not with styling but if I ever get more time I may look into it. For now I am going to close the ticket.

[2018-06-13 20:24] #11 closed, assigned to nobody

[2018-07-10 07:31] eoparada commented on #4
Hello,

Would it be possible to add a variation of the pie arc shape with input parameters:

Azimuth
Angle Difference
Radius

For example:
Azimuth = 60 deg
Angle Difference = 20 deg
Radius = 1 km

Will draw an arc with 1 km radius from 40 degrees to 80 degrees?  This tool is very useful to plot antenna directions for cellular base stations.  Thanks.

[2018-07-10 16:00] hamiltoncj commented on #4
Yes it would be easy to implement this. Are you asking for I pie arc or a pie wedge like is currently implemented? I consider the pie arc to have an inner radius and an outer radius.

[2018-07-10 17:10] eoparada commented on #4
The variation request is for the pie wedge.  In that way, I don't need to have a starting and ending angles.  I can base the angle difference on an antenna beamwidth field, for example, and it will plot the wedge depending on how big the beanwidth set on the base station.  Thanks a million.

[2018-07-10 17:52] hamiltoncj commented on #4
Just to clarify. If the azimuth is at 60 deg with a beam width of 20 deg then the arc would be plotted from 50 to 70 degrees. Is that correct?

[2018-07-10 18:10] eoparada commented on #4
I believe this should be the way, yes.  My bad in my initial example.

[2018-07-11 19:56] hamiltoncj commented on #10
I'm going to close this. Since Shape Tools create physical shapes, this request is not possible. Perhaps it could be done with styling, but that is outside the scope of Shape Tools.

[2018-07-11 19:56] #10 closed, assigned to nobody

[2018-07-23 16:11] hamiltoncj commented on #4
@eoparada Version 3.0.8 has an Azimuth mode which will do what you asked. Let me know if this works for you.

[2018-07-24 10:12] eoparada commented on #4
Thanks so much @hamiltoncj.  This is what I was looking for.

[2018-07-28 01:43] datadig2017 opened #17 "XY-Lines tool produces cross-screen lines when "great-circle" lines cross international date line"
The XY-Line tool works great for creating "great-circle" flow map lines (those seen in air flight maps). However when the lines cross international date line, they seem to extend across the entire canvas.
Anita Graser [Underdark] also noted this in her blog (https://anitagraser.com/2011/08/20/visualizing-global-connections/) but she didn't give an answer/solution.
![great circle cross intl date li

[2018-07-28 14:06] datadig2017 commented on #17
Sorry I didn't specify my environment: Windows 7 Professional, 64 bit, QGIS 2.18; I will try to upgrade to QGIS 3.x to see if this would be corrected. Thanks!

[2018-07-30 12:07] hamiltoncj commented on #17
This is an overall problem with how QGIS handles objects drawn across the international date line. It is not caused by shape tools. Several years ago I put in a bug fix request for this, but nothing ever happened. I think it is a hard problem to solve. The only way that I know of to fix this would be to break lines that cross the date line into two pieces. I don't know if the libraries I am using

[2018-07-31 16:09] datadig2017 commented on #17
Thanks for following up! I understand that this is a tough ball. I compile this kind of map for work and there is quite a few instances of connections between Fiji, Samoa, Tonga, Vanuatu, Australia, etc. Once I remove those, the lines look good. I wonder if the "great circle" mechanism within "Shape Tools" would first measure the distance and the direction for each line and decide if it crosses th

[2018-08-02 12:14] hamiltoncj commented on #17
I'm working on a solution which will break the line at the -180, 180 boundary and continue drawing it. Unfortunately, geographiclib does not have a function to detect the intersection of a line crossing another line and it is quite complicated at least for me. There is one algorithm that I have found and am in the process of implementing it. It might take a few days before I complete the update an

[2018-08-02 12:21] datadig2017 commented on #17
Happy to share my CSV file for your testing! Let me know. Thanks!

[2018-08-02 12:24] hamiltoncj commented on #17
That would be helpful.  Thanks.

[2018-08-02 12:52] datadig2017 commented on #17
[test.tools.github.xlsx](https://github.com/NationalSecurityAgency/qgis-shapetools-plugin/files/2253514/test.tools.github.xlsx)

Here is the Excel file. Surprised that Github doesn't take CSV format. The column headings are self-explanatory. Pay attention to lines originating from FJI, WSM and/or ending in FJI WSM VUT. Those small islands are in the vicinity of IDL.

Again, many thanks for working

[2018-08-02 16:50] datadig2017 commented on #17
[test.tools.github.xlsx](https://github.com/NationalSecurityAgency/qgis-shapetools-plugin/files/2254402/test.tools.github.xlsx)
Hi I realized that the previous file shared doesn't have connections that cross the IDL. I have already removed them. I am sharing again with this version where there are connections that cross IDL. Sorry for the confusion.

[2018-08-06 17:45] hamiltoncj commented on #17
@datadig2017 I just release Shape Tools 3.0.9 for QGIS 3. The XY to Line tool now has an option to "Break lines at -180, 180 boundary..." Be sure to enable it. It worked properly on the data set you sent me so give it a try and let me know how it goes.

[2018-08-06 18:16] datadig2017 commented on #17
Thank you so much for updating the tool! Can't wait to test it. Let me update to QGIS 3 first. Will let you know the test results soon.

[2018-08-06 19:10] datadig2017 commented on #17
@hamiltoncj Thanks again for updating the tool. The additional option of "Break lines at -180, 180..." works well in rendering long lines (regardless of crossing IDL or not). A few quick observations:

- I used a layer where I have removed lines that known to cross IDL and didn't check "break lines" option and quite a few lines looked not right (although they don't actually cross the IDL). I tried

[2018-08-06 20:04] hamiltoncj commented on #17
Item 1 - I don't understand why something is not right. Are you sure you don't have any that cross the IDL. You could also try it in QGIS 2. It can also look funny crossing over the poles depending on the projection you are using.

Item 2 - By making XY to Lines a processing routine I get a number of advantages; however, some things are not as flexible. By default it is using the CRS of the QGIS p

[2018-08-06 20:10] hamiltoncj commented on #17
I see the problem for #3. I will fix it.

[2018-08-06 20:17] datadig2017 commented on #17
Interesting...
Item 1 - Enabling the "break lines" option works great anyway. I will always check it so there is no problem.
Item 2 - Would be good to default to 4326 (or 3857) just for convenience. It doesn't matter though. I can always manually select 4326.
Item 3 - Yes, please default the output point layer as temporary layer instead of [skip output], especially when "show starting point" and "

[2018-08-06 20:18] datadig2017 commented on #17
Our posts crossed each other. Great that you sorted out problem 3. Thanks as always!

[2018-08-06 20:33] hamiltoncj commented on #17
I just released 3.0.10. It may take a few minutes for plugins.qgis.org to update their listing. Usually it is not more than about 15 minutes. I have made EPSG:4326 the default and the beginning and ending points output file enabled by default. Once you can update, let me know how it works out for you.

[2018-08-06 20:43] datadig2017 commented on #17
Sure. Thanks!

[2018-08-07 15:09] hamiltoncj commented on #17
I updated the QGIS 2 plugin with this fix. It is version 0.7.9

[2018-08-07 15:31] datadig2017 commented on #17
Hi version 3.0.10 works great! The output point layer functions smoothly. Kudos! Many thanks!

[2018-08-13 01:35] zionsteiner opened #18 "XY to Line Layer Null After Closing QGIS Project"
Recently I've been having issues saving XY to line vector layers with my projects. Each xy to line layer is generated from a .csv file with origin and destination coordinates which works great initially. However, after the project has been saved, closed, and reopened, the line layer has somehow disassociated from the .csv, leaving all fields in the line layer's attribute table to read NULL. What i

[2018-08-13 12:42] hamiltoncj commented on #18
I am assuming you are using QGIS 2.x. In that version XY to line uses memory layers which are not saved when you save a QGIS project. You have three options. 1) Download the Memory Layer Saver plugin. This will then save your memory layers. 2) Upgrade to QGIS 3. XY to Line tool has been moved to be a processing algorithm and you have many more options on how it is saved. 3) Simply save the resulti

[2018-08-14 15:21] hamiltoncj commented on #17
@datadig2017 I am going to close this out, but wanted to make you aware that I found a bug XY to Line. It is fixed in 3.1.0. Also I created a separate routine to break the lines. If there are any other issues please let me know.

[2018-08-14 15:21] #17 closed, assigned to nobody

[2018-08-15 16:30] #4 closed, assigned to nobody

[2018-08-15 22:31] datadig2017 commented on #17
Thx @hamiltoncj! I’m on leave now. Will test the new version when back in September! Cheers!

[2018-08-18 15:59] uppalavamsi opened #19 "Create hublines or nearest neighbours in a given direction"
Hi Hamilton,

hope you are doing good. Thanks for the continued enhancements on wedget shapes, which are getting process more simpler.

We wish to have option for creation of hublines in a given direction / azimuth, illustration of the usage is given under [(https://i.stack.imgur.com/VyOpc.png)]. Which would help creation of relations between serving and target cells of telecom site. Maybe point o

[2018-08-20 15:07] hamiltoncj commented on #19
Vamsi,

Shape Tools has a create line of bearing tool which creates a line from a point at a given azimuth and distance. This seems to be what you are talking about with hublines. Does that do what you need? If not what more is needed?

[2018-08-23 17:33] hamiltoncj commented on #19
@uppalavamsi Do you have anymore input on this? Does the create line tool help? I'm not sure what to do with this request and whether it would be within the scope of Shape Tools.

Thanks

[2018-08-23 17:51] hamiltoncj commented on #18
@zionsteiner I'm assuming that one of the above suggestions works for you. I am closing the ticket, but if you have any more problems feel free to contact us again.

[2018-08-23 17:51] #18 closed, assigned to nobody

[2018-08-23 17:59] hamiltoncj opened #20 "Move to Sphinx documentation"

[2018-08-23 18:01] hamiltoncj opened #21 "Add additional historical ellipsoids"

[2018-08-28 05:32] uppalavamsi commented on #19
Hi Hamilton,

Delayed response due to some issues.

Wish to have the feature in association with the lines is kNN algorithum to
identify the nearest neighbors.

And in this case we have 4 criterias:
1. Points: Start point is observer and single; proximity points are many in
the vicinity of start point

2. View angles: An imaginary pie wedge made from start and proximity points

3. Distance to the

[2018-08-28 05:35] uppalavamsi commented on #19
4. Magnitude of proximity point: to rank the neighbor based on predictive
RF power factors

On Tue, 28 Aug 2018, 11:01 Vamsi Krishna Uppala, <vamsi.uppala@gmail.com>
wrote:

[2018-08-30 09:22] Vitruvius21 opened #22 "Add Circle Line"
Hi @hamiltoncj,

First of all, thank you for a such great plugin.

Regarding the topic, could you add **Circle Line** as a _Line type_? I wish to make maps like this https://www.stayaspensnowmass.com/sites/default/files/aspenFlightMap.jpg but on small areas _Geodesic_ or _Great Circle_ lines do not give proper effect.

[2018-08-30 12:06] hamiltoncj commented on #22
@Vitruvius21 Do you know how to implement this line type? I don't know how to do it.

[2018-08-30 14:02] hamiltoncj commented on #19
@uppalavamsi This request is really outside the scope of the Shape Tools plugin. I am currently out of the office for several weeks, but I will ask my sponsors when I get back to see if there is any interest in pursuing this.

I am not sure how to implement it though and I think it would take me a lot of research. If you have someone that would like to work on this, it could be added to Shape Tool

[2018-08-30 15:47] aprobinson3 opened #23 "Create pie wedge failure when run from processing toolbox"
Hi,

Thank you so much for this plugin it really is excellent!

I am receiving the following error when Creating a pie wedge from processing toolbox, however when I use the same settings via the plugin it works fine.

**Processing algorithm…
Algorithm 'Create pie wedge' starting…
Input parameters:
{ 'Azimuth1Field' : 'Azimuth', 'Azimuth2Field' : 'Beamwidth', 'AzimuthMode' : 1, 'DefaultAzimuth1' :

[2018-08-30 15:52] uppalavamsi commented on #19
Hi Hamilton,

Thanks so much for writing in detail. Good to hear that tool is open for
collaboration. I have no coding knowledge, however would peruse this idea
further as it has potential to address masses and ease daily workings in
telecom segment where many netwroks to see yet self organizing / automatic
neighbour addition.

On Thu, 30 Aug 2018, 19:32 C Hamilton, <notifications@github.com> wrot

[2018-08-30 15:59] uppalavamsi commented on #19
Hi,

I'm open to contribute on sponsoring in terms of working capital for up to
200 usd (that's roughly my savings for a month).

On Thu, 30 Aug 2018, 21:21 Vamsi Krishna Uppala, <vamsi.uppala@gmail.com>
wrote:

[2018-08-30 18:36] hamiltoncj commented on #23
@aprobinson3 Sorry about that. I have fixed the bug and it is in version 3.1.2. I just uploaded it to the QGIS plugin directory. It may take up to 30 minutes before they update the plugin listing.

[2018-08-30 18:56] hamiltoncj commented on #23
@aprobinson3 It now shows up in the QGIS plugin manager.

[2018-08-30 18:59] aprobinson3 commented on #23
Thank you very much for the quick fix! I've just downloaded it and it works great!

[2018-08-30 19:00] #23 closed, assigned to nobody

[2018-09-06 14:47] hamiltoncj commented on #12
I'm going to close this because I don't know of anything more I can do. I have been able to get some speed improvements. Geodesic calculations are slower than euclidean calculations, but this plugin is about geodesic. If the QGIS team were to include some of these capability into the core then there could be more improvements.

[2018-09-06 14:47] #12 closed, assigned to nobody

[2018-09-18 20:37] hamiltoncj commented on #21
Completed. Will be in next release.

[2018-09-18 20:37] #21 closed, assigned to nobody

[2018-09-26 20:22] hamiltoncj commented on #19
@uppalavamsi I wish I could help out on this, but it is outside the scope of the Shape Tools plugin. This is getting into advanced analysis. I have asked around to see if anyone funding my QGIS development were interested in this capability and they were not interested. I don't have the time to do this on personal time. I think it could take a lot of work.

I am going to go ahead and close this ti

[2018-09-26 20:22] #19 closed, assigned to nobody

[2018-11-04 10:12] mlqc opened #29 "cannot use different ellipsoid"
When I try using a Mars2000 ellipsoid (with radius=3396190), the result seems to imply it is still using the radius of the Earth. Could you help me solve that issue? thanks!

[2018-11-05 16:28] hamiltoncj commented on #29
You are right. That is one algorithm that I did not fully integrate as a geodesic algorithm with the different ellipsoids. I will wok on it his week

[2018-11-05 19:58] mlqc commented on #29
Great! thanks :)

[2018-11-07 20:18] hamiltoncj commented on #29
@mlqc
I have updated the QGIS 3 Shape Tools plugin, version 3.2.4, ellipse tool to be fully geodesic and support the different ellipsoids. Let me know if you have any problems with it. The ellipse tool is also now in the Shape Tools processing toolbox. I think I will back port this fix to the QGIS 2 plugin.

[2018-11-14 17:26] hamiltoncj commented on #29
I am going to close this ticket as I believe the issue has been solved. If you have any other problem please let me know.

[2018-11-14 17:26] #29 closed, assigned to nobody

[2019-01-02 09:10] uppalavamsi opened #30 "Create shapes for selected features and retain input geometries in output file"
Hi Hamilton,

Happy New Year

Wish to have feature in the tool to generate shares for the selected features on the canvas

Also request to retain input geometrics (Lat Long) to the final shapes output file, which could be used for processing other activities later.

[2019-01-02 19:43] hamiltoncj commented on #30
@uppalavamsi
If you use the Processing shape creation algorithms then you have the option to process only selected features. My plan is to replace the "Create shapes" from the Shape Tools vector menu with a Create Shapes menu showing each individual shape from Processing. This will avoid having two versions now that I have all of the shapes ported to Processing. I have added an additional shape to

[2019-01-10 11:07] Vitruvius21 commented on #22
@hamiltoncj maybe [this blog-post](https://medium.com/@tomchadwin/mapping-emotion-fighting-school-closures-with-qgis-28842661bf14) will give you some ideas? Look for Curving the lines into pseudo-3D

[2019-01-17 16:44] hamiltoncj commented on #30
@uppalavamsi
I made the shape creation processing only and with that you can select to only include selected features. There is now an option for each shape to include the input geometry into two fields of the output table.  Let me know how this works for you.

[2019-01-19 15:37] uppalavamsi commented on #30
Hi Hamilton,

Thanks so much for the new enhancement could able to see this works good for our general day to day workings. It is admirable to see the turn around time in taking it up and making available with immediate support

[2019-01-29 19:00] #30 closed, assigned to nobody

[2019-04-01 19:46] #20 closed, assigned to nobody

[2019-06-14 13:13] wsk170 opened #31 "support other language"
@hamiltoncj Hi, Thank you for your great plugin. It's very usefull. Can you add other language support? Provide i18n directory and en.ts file to translate.

[2019-06-14 15:35] hamiltoncj commented on #31
I've known that at some point I would need to do this so thank you for your suggestion. I will look into how to do this and will provide it for the next release. If you have any further guidance please let me know.

[2019-06-21 14:33] hamiltoncj commented on #31
@wsk170
I'm not 100% sure I have everything correct, but there is an i18n directory with the en.ts file. I don't know how this all works especially when changes are made to the code, but you are welcome to give suggestions and prepare a translation.

[2019-06-24 15:11] wsk170 commented on #31
@hamiltoncj Thank you！And I did some research for PyQt translation and refer other QGIS plugin.
First, modify tr function's  "Processing" to "@default", because context name in ts file is "@default".
Second, add the following code to class ShapeTools __init__ method to load translation file.
[code]
I try this method, and get the translation. yes, it's chinese. and when I finish translation, i will

[2019-06-25 14:11] wsk170 commented on #31
@hamiltoncj I have finished the chinese translation, and make a pull request. waiting for you merge it.

[2019-06-25 15:02] hamiltoncj commented on #31
@wsk170
I have made a number of updates. Can you check to make sure it works properly for you and if it does I will push out a new release.

Thanks!

[2019-06-25 15:12] wsk170 commented on #31
@hamiltoncj I try it, and create a pull to load the right translation. you could merge it.

[2019-06-25 15:30] hamiltoncj commented on #31
I did the merge. Does it work correctly now?

[2019-06-25 15:37] wsk170 commented on #31
Yes, it worked correctly. Thank your for your great work.

[2019-06-25 15:39] hamiltoncj commented on #31
Thank you with helping to set up translation in Shape Tools.

[2019-06-25 15:39] #31 closed, assigned to nobody

[2020-02-16 17:55] pcav opened #34 "Please do not include external libs"
to avoid duplication of code, etc.
Since geographiclib is of rather general use, it would be probably appropriate to include it in the installers instead.

[2020-02-16 18:36] Asratum commented on #34
Submitted a ticked on OSGeo4W for library to be included:
https://trac.osgeo.org/osgeo4w/ticket/621

[2020-02-16 18:42] pcav commented on #34
Thanks!

[2020-02-18 14:54] hamiltoncj commented on #34
@pcav @Asratum
I certainly welcome geographiclib to be an integral part of QGIS, but it needs to be included by default and not one of the optional packages in both the OSGeo4W installer as well as the QGIS standalone installers.

It may have been better to have considered the C version of geographiclib with python wrappers. The C version is probably faster and is more complete. What do you think?

[2020-02-18 15:13] pcav commented on #34
it is now included, my interpretation is that it will be present in the installers for the next releases, both point and major. better to make sure, asking in qgis-dev or in the ticket.
as for the C verison, should this be included as a dependency, or?

[2020-02-18 15:34] hamiltoncj commented on #34
@pcav @Asratum
I am personally a little confused with all the versions of geographiclib. The C++ version is by far the most complete with all kinds of capabilities which I would make use of if I had them. See:

https://geographiclib.sourceforge.io/html/index.html

The other language implementations just include the primary geodesic functionality. For Python see

https://geographiclib.sourceforge.i

[2020-02-21 20:11] hamiltoncj commented on #22
This is more of a styling problem that is dependent on the projection so it is not something that I want to include in Shape Tools.

[2020-02-21 20:11] #22 closed, assigned to nobody

[2020-05-29 13:09] hamiltoncj commented on #34
@pcav Just to close out this issue, and since geographiclib has been included into QGIS, I have taken some steps to get away from including the library. Because I have to support the older versions of QGIS I still have geographiclib included, but I first check to see if QGIS has the library or not before I include the external lib. Once I no longer support the older QGIS versions with Shape Tools

[2020-05-29 13:09] #34 closed, assigned to nobody

[2021-01-22 11:29] GeoN5ON opened #35 "Plug-In installation not working"
Hello,

somehow the plug-in installation in QGIS 3 is not working.

Best

Nilz

[2021-01-22 19:34] hamiltoncj commented on #35
You will need to give me some more information. Shape Tools is being used by thousands of users and they have not had a problem with installation so lets see what might be going wrong with your setup. What operating system are you using and what version of QGIS are you using? How are you installing it?

[2021-01-25 14:21] GeoN5ON commented on #35
Thanks for your response!

I tried it again now and it worked. Sorry!!

[2021-01-25 14:21] #35 closed, assigned to nobody

[2021-02-26 22:39] fdimaso opened #36 "Arc wedge and donut creation combined"
Can the Arc Wedge creation allow the creation of donuts at the same time (i.e. if the file has points where the azimuth is zero and width is 360 deg)?
I've attached a sample pic of what the output would be like.
Thanks
![2021-02-26_17-38-12](https://user-images.githubusercontent.com/55101210/109362658-79740080-7859-11eb-9c8b-60608bcbda70.jpg)

[2021-03-01 22:00] hamiltoncj commented on #36
The arc wedge expects a width of less than 360 degrees so it won't work currently as a donut. Is there a reason why you cannot use the donut in that case?

[2021-03-01 22:09] fdimaso commented on #36
I just wanted to have both the arc wedges and donut shapes output in a single file.

It’s for building cell towers maps were some sites have antennas that are directional (sectorized – wedge-) while others are omnidirectional (donut shape)

From: C Hamilton <notifications@github.com>
Sent: Monday, March 1, 2021 5:01 PM
To: NationalSecurityAgency/qgis-shapetools-plugin <qgis-shapetools-plugin@norep

[2021-03-02 14:08] hamiltoncj commented on #36
Okay. I will put this on my todo list.

[2021-03-02 16:50] hamiltoncj commented on #36
@fdimaso That didn't take too much time to fix so I just added it to Shape Tools 3.3.16. Give it a try and see if it works properly for you.

[2021-03-02 17:02] fdimaso commented on #36
Wow, works like a charm. Thanks you so much!!

From: C Hamilton <notifications@github.com>
Sent: Tuesday, March 2, 2021 11:51 AM
To: NationalSecurityAgency/qgis-shapetools-plugin <qgis-shapetools-plugin@noreply.github.com>
Cc: DI MASO, FILIPPO <fd2572@att.com>; Mention <mention@noreply.github.com>
Subject: Re: [NationalSecurityAgency/qgis-shapetools-plugin] Arc wedge and donut creation combined (#

[2021-03-02 17:17] hamiltoncj commented on #36
Great! I am closing the ticket, but if there is another issue please feel free to contact us.

[2021-03-02 17:17] #36 closed, assigned to nobody

[2021-07-15 15:43] kannes opened #37 ""XY to lines" between the points of a layer fails"
I loaded `ne_50m_populated_places.shp` and opened the "XY to line" tool.
There I ticked the "Use the point geometry for the line ending|starting point" boxes.
Processing fails and tells me the features were invalid.

[code]

[2021-07-15 15:46] kannes opened #38 "idsbreak.svg can't be found on a case-sensitive file system"
Error on Linux (case-sensitive filesystem):

`Qt: Cannot open file '/home/user/.local/share/QGIS/QGIS3/profiles/default/python/plugins/shapetools/images/idlbreak.svg', because: No such file or directory`

https://github.com/NationalSecurityAgency/qgis-shapetools-plugin/blob/2e81dea99c76b399648014a5a7533e76f1772813/svg/idlBreak.svg should use a lowercase filename or the references to it https://git

[2021-07-15 16:13] hamiltoncj commented on #37
@kannes You used the layer geometry for both the start and end of the line. That does not work. You need a beginning and ending point that is not the same point. You need to specify either the beginning or ending or both coordinates from attributes in the table. ne_50m_populated_places.shp does not have such attributes.

I should probably check for this condition and return a clearer error message

[2021-07-15 16:20] hamiltoncj commented on #38
@kannes Thanks for finding that. That is one of the disadvantages or developing on Windows. I will put out a new release either today or tomorrow.

[2021-07-15 16:57] kannes commented on #37
Ah, so I cannot use this to make lines between all point pairs of a point layer?

[2021-07-15 17:43] hamiltoncj commented on #37
@kannes No it is not for making lines between different point features in a layer. Each feature must include the beginning and ending points. What is the use case for making lines between all point pairs? I don't know if there is an existing capability in QGIS to do that or not.

[2021-07-15 20:10] hamiltoncj commented on #38
I just uploaded Shape Tools 3.3.17 so it should be available soon. It should fix this issue.

[2021-07-15 20:15] kannes commented on #38
Awesome, thank you for this amazingly swift response.

[2021-07-16 12:36] hamiltoncj commented on #37
@kannes I improved the error messages for the XY to Lines tool. I am interested in why you need an algorithm that draws lines between each point. It wouldn't be hard to implement an algorithm like that, but I don't know what the need for it would be.

[2021-07-16 12:37] hamiltoncj commented on #38
Thanks for reporting it.

[2021-07-16 12:37] #38 closed, assigned to nobody

[2021-07-19 15:25] hamiltoncj commented on #37
@kannes Was there anything else you needed with this ticket if not I will go ahead and close it. I added error messages so the user knows not to use the layer geometry for both the beginning and ending points.

[2021-07-22 16:48] #37 closed, assigned to nobody

[2021-08-21 05:43] anthonyblackham opened #39 "Add field value or Data Defined Override to scale factor for Geodesic Transformation Tool"
This is more of a feature request than it is an issue.

There are a few functions that I think could benefit from having a field based value as opposed to a single manual input. For example with the Geodesic Transform Tool a field based value can provide greater variety when creating non-contiguous cartograms

![image](https://user-images.githubusercontent.com/26451302/130311557-4e30089e-0326-42a3

[2021-08-22 12:00] kannes commented on #37
Thanks! The motivation was about imaginary flight routes between imaginary airports.

[2021-08-23 16:25] hamiltoncj commented on #39
@anthonyblackham Thanks so much for the suggestion which is resulted in a new understanding of the QGIS API. I am going to work toward the data defined override. Hopefully, I will have this working by the end of the week depend on how much time I can put on it. Depending on how this turns out, I may use this method for the rest of the algorithms rather than explicitly use a field value.

[2021-08-23 19:56] anthonyblackham commented on #39
Sounds good, my coding skills are a bit rudimentary but I'm happy to test out any changes

[2021-08-24 17:02] hamiltoncj commented on #39
I updated Shape Tools to version 3.3.18. I have made the rotation, scale, translation distance, translation azimuth all data defined. You might just want to test it to make sure you can't find any bugs in it. It seems to be working great for me, but I have not used some of these PyQGIS calls before and there is not much documentation or examples on implementing data defined overrides. Here is an e

[2021-08-24 21:44] anthonyblackham commented on #39
Brilliant work, I ran it through a bunch of settings and as far as I can tell I didn't see any regressions.

I will mark this as resolved.

Thanks for the prompt update and incredibly useful plugin.

[2021-08-24 21:44] #39 closed, assigned to nobody

[2021-09-08 21:17] Gustry opened #40 "Python error when edit in place is active"
There is a python exception every time I use the Processing toolbox with "edit in place" active.

In CreateArcAlgorithm
[code]

`shape_type` is not defined

[2021-09-09 13:16] hamiltoncj commented on #40
@Gustry I got burned with a change in the QGIS API. For some reason QGIS decided to query all the outputWkbType methods from the processing algorithms. This does not occur with the LTR release, but only in the latest. I only was initializing shape_type when the user executed the algorithm. I have fixed the problem although I need to ask the QGIS developers why this is being called outside of the p

[2021-09-13 15:27] hamiltoncj commented on #40
@Gustry
I am going to close this issue as the problem is now resolved, but please let me know if you encounter any more problems or if you have any suggestions.

Best wishes!

[2021-09-13 15:27] #40 closed, assigned to nobody

[2021-09-13 16:18] Gustry commented on #40
Geat thanks

[2021-12-16 04:55] trymyshoes opened #41 "Can I call createEllipse from python shell in QGIS"
dear sir ,
i have to create automation flow to create Ellipse about 500 shapefiles
can i call createEllipse from Qgis Python Shell

[2021-12-16 15:42] hamiltoncj commented on #41
I have no idea how you can interact with QGIS plugins from the QGIS Python Shell.

[2021-12-29 19:15] #41 closed, assigned to nobody

[2021-12-31 21:15] jfbourdon opened #42 "Unable to remove dropdown buttons from toolbar"
Unable to remove dropdown buttons via from toolbar (via Interface Customization) for _Create shapes_, _Geodesic geometry simplification_ and _Geodesic transforms_ tools groups.

Same as [issue #64 for Lat Lon Tools plugin](https://github.com/NationalSecurityAgency/qgis-latlontools-plugin/issues/64).

[2022-01-04 19:19] hamiltoncj commented on #42
I will look at this later this week. Between holidays and snow days my work load has stacked up.

[2022-01-05 19:54] hamiltoncj commented on #42
I released version 3.4.2 that seems to work.

[2022-01-12 14:26] hamiltoncj commented on #42
This request should be solved, if there are any further requests please let me know.

[2022-01-12 14:26] #42 closed, assigned to nobody

[2022-02-17 09:46] beyhh opened #43 "Improvement suggestion: Observe QGIS settings for preferred distance units"
The shape tools are really great and I don't want to miss them, especially the geodesic measure tool which should actually be a QGIS standard and not part of a Plugin, but anyway...

The only thing I would suggest is that the measure tool uses the preferred distance unit settings from the QGIS options (Map Tools section) when starting up. Currently, the unit is set to Kilometers by default and I a

[2022-02-17 15:47] hamiltoncj commented on #43
@beyhh
I'm glad you like the plugin. This is a very easy change so I updated Shape Tools to version 3.4.3 and made the unit setting persistent so that it will always be what it was last set to.

[2022-03-03 18:11] beyhh opened #44 "Improvement suggestion: provide additional format for azimuth"
I cannot thank the author enough for having brought this wonderful plugin to QGIS!

I would like to suggest another display option for the azimuth in the pop-up window (Heading To / Heading From). It would be wonderful to have an optional format of a 0° - 360° notation. This would suit me and everybody with a maritime background much more. It would be ideal if this setting was persistent as well.

[2022-03-03 18:29] hamiltoncj commented on #44
Actually, that option is available. If you go into the settings (Vector->Shape Tools->Settings). There is an option under "Measure Tool Settings" where you can specify the azimuth to be between 0 and 360 and it is persistent.

[2022-03-07 07:50] beyhh commented on #44
Oh wow, so cool! Thanks for this hint. Haven't seen this seetings window before...

[2022-03-07 13:59] hamiltoncj commented on #44
You raised a good issue. I decided to add a settings icon to the geodesic measure tool that will display the settings dialog box. That should make it easier to realize there are some configuration settings to it. The new version is 3.4.4. I'm going to close this issue.

[2022-03-07 13:59] #44 closed, assigned to nobody

[2022-03-16 10:48] beyhh commented on #43
That's also a good solution and much appreciated. Thank you for the quick response.

[2022-03-16 10:48] #43 closed, assigned to nobody

[2022-04-05 07:30] lizhi501 opened #45 "Ability to input grid reference value instead of lat/long"
I have successfully used the XY Line tool before in a project, and found it super effective and straightforward. Thanks for developing the tool!

A colleague of mine wanted to achieve similar results and I was walking him through the process, however we ran into issues that seem to be the result of a CRS mismatch. His workspace was EPSG:28356, which uses an easting and northing grid coordinate sys

[2022-04-05 13:04] hamiltoncj commented on #45
The XY to line tool is for creating a line where two coordinates are specified in the attribute table. There is a Processing Toolbox algorithm called "Points to path" that will create a line from points which is what I am thinking you are asking there at the end. The reason I don't have it implemented is because it is already a part of QGIS.

The XY to line tool allows you to specify the input CRS

[2022-05-17 09:57] beyhh opened #46 "Minor usability improvement suggestions for Geodesic Measure Tool"
I keep coming back thanking the author for this wonderful plugin! Since I use the Geodesic Measure Tool almost everyday, I have two small improvement suggestions:

1) You can only measure distances as long as the "Geodesic Measure Tool" button is toggled on in the Shape Tools toolbar. It would be nice if the "Geodesic measure tool" toolbar button toggles itself on, when I press the "New" button on

[2022-05-17 16:29] hamiltoncj commented on #46
Thank you for your suggestions. I think they are all good and will add them to my to-do list. It might take several weeks because I am currently working on another problem.

[2022-05-25 20:02] hamiltoncj commented on #46
@beyhh Thank you for these suggestions. I just released version 3.4.5. I think it very much improved how the Geodesic Measure Tool works. I implemented all your suggestions.

[2022-05-26 16:15] #46 closed, assigned to nobody

[2022-05-30 12:26] beyhh commented on #46
Hey, very cool and much faster than expected!
Glad you appreciate the suggestions. I also think that usability-wise it is an improvement.

Thank you so much in the name of the QGIS community!!!  👍

[2022-07-19 19:27] hamiltoncj commented on #45
Closing because of lack of response.

[2022-07-19 19:27] #45 closed, assigned to nobody

[2022-11-29 16:33] anandarupan opened #50 "Issue with creating pie wedges in Shape Tools for Telecom sectors creation"
There seems to be a minor challenge in creating sectors (Telecom) using the Pie Wedge option available in Shape Tools plugin. This was working earlier. Below is the snapshot of the inputs provided for creating the same.

![image](https://user-images.githubusercontent.com/119437516/204586483-0ca40feb-2a8c-417f-8798-3564dd62b58f.png)

The resulting output is given below.

![image](https://user-image

[2022-11-29 16:48] hamiltoncj commented on #50
Radius is the distance from the point in terms of the unit radius which you have set to 180 meters. Is your center azimuth and azimuth width in degrees? From your screen shots I cannot tell what you are using for those two parameters other than to know that you are using an expression of some sort. I would need to know what that expression is and what your data looks like.

[2022-11-30 03:52] anandarupan commented on #50
Hi, The center azimuth and the azimuth width provided in my input sheet is just an integer value in the CSV file. Since this wasn't working, I also tried providing 2 more columns with beginning azimuth and ending azimuth (delta between the 2 is 30). I assumed that the integer would be populated as degrees format (which was the case earlier when it was working).

Expression 1 (Center Azimuth) snaps

[2022-11-30 12:46] hamiltoncj commented on #50
As far as I can tell you are doing everything correctly. I made a csv file of just the necessary fields and tried it myself and it worked correctly.  Here is a snapshot.

![image](https://user-images.githubusercontent.com/6978279/204799420-8f849c0e-9f8b-4376-b645-705d0eca0f6f.png)

I've attached the csv file. I guess the next question is what version of qgis are you using and on what operating sys

[2022-11-30 13:16] anandarupan commented on #50
Thanks for the feedback. I was also quite surprised as I have worked the same way earlier and it was just fine. I was using QGIS 3.14 (Pi) at that time and still have it. I started working on it again from last 2 weeks and somehow realized that it wasn't working like before. Suspecting that it could be compatibility issue between the plugin and the QGIS version, I had the QGIS version 3.28 (Firenz

[2022-11-30 13:32] anandarupan commented on #50
I even tried using the Beginning & End Azimuth option with separate columns added in my input CSV file for those in addition to Center Azimuth & Beamwidth.

![image](https://user-images.githubusercontent.com/119437516/204809043-e28a1ae9-4f58-4975-a2c8-a903a329156d.png)

Beginning Azimuth detail snapshot:

![image](https://user-images.githubusercontent.com/119437516/204808735-74eaa36b-acec-4906-8c8

[2022-11-30 13:34] anandarupan commented on #50
The resulting output is given below if I use the Beginning & Ending Azimuth options.

![image](https://user-images.githubusercontent.com/119437516/204809700-21a0f136-74e0-4475-9bdf-f85f7b320559.png)

[2022-11-30 13:56] hamiltoncj commented on #50
Can you try the towers.csv file that I attached above and see if you get my results or something different? I don't have Windows 11 to test. Has this worked in the past with Windows 11? Is it possible to share your csv file or at least a portion that is exhibiting this behavior? I really don't know what is wrong at this point. Could you open up your python console "Plugins->Python Console" and typ

[2022-11-30 14:12] anandarupan commented on #50
I tried with the CSV file that you shared with the same set of Center Azimuth & Beamwidth selections but there is no change in the output. I am still getting just like how I raised in my 1st post.

![image](https://user-images.githubusercontent.com/119437516/204817518-7134d2b7-406b-4bae-a5e9-d2519d86cf81.png)

I will share a portion of the CSV file which I have been using with you to see if you ar

[2022-11-30 14:14] anandarupan commented on #50
Below is the snapshot of the commands output from the python console as you requested

![image](https://user-images.githubusercontent.com/119437516/204818576-0ee6bb5b-0535-4ca6-beea-769ef1f31ee6.png)

[2022-11-30 14:45] hamiltoncj commented on #50
We have something strange going on. If you use the Assistant it fails in the way you have shown, but if you just select the field from "Field type" it works. I don't know if this is a QGIS bug or whether there is a difference in using the assistant. Once selected from "Field type" and then you look at it with Assistant, I see no differences.

![image](https://user-images.githubusercontent.com/6978

[2022-11-30 14:54] anandarupan commented on #50
Thank you for the quick identification. I tried it the way you suggested, it just works like before. Pls have a look below at the output which I have been trying to get for the past 2 weeks. Thank you very much for the prompt response and resolution.

![image](https://user-images.githubusercontent.com/119437516/204827238-ea7f7454-d468-4358-afd7-41f3e7dab871.png)

However, I noticed that there is a

[2022-11-30 15:09] hamiltoncj commented on #50
I will investigate the Assistant and see if I can figure anything out. Both methods should give the same results. I will put in a QGIS ticket if it appears to be their problem.

[2022-11-30 15:10] anandarupan commented on #50
Great, thanks for the feedback. Just now, another colleague got in touch with me with the same problem and he was surprised with the immediate fix which you had suggested. I will proceed to close this ticket if that is fine with you!

[2022-11-30 15:15] hamiltoncj commented on #50
Go ahead and close it.

[2022-11-30 15:16] #50 closed, assigned to nobody